.name-input-container {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    margin-top: 8px;
}

.user-data-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.city-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.progress-bar {
    width: 100%;
}