.add-user-button {
  position: absolute;
  right: 56px;
  bottom: 56px;
}

.user-table {
  width: 100%;
  margin-bottom: 8px;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.4)
    }

    &:first-child {
        cursor: unset;
        background-color: unset;
    }

    &:last-child {
      border-bottom: none;
    }

    th {
      color: rgba(0, 0, 0, 0.4);
      text-align: start;
      padding-left: 16px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }

    >td {
      padding-left: 16px;
      // border-bottom: 1px solid black;
      height: 48px;

      &:first-child {
        padding-left: 16px;
      }
    }
  }
}
